# homedir project .gitignore file
#   These vim extensions are all cloned git repos so we do not
#   want to save them.
#
#   Note: This file  is only for homedir project git manipulation,
#   do not link this into your home directory.
#
vim/bundle/vim-textobj-user
vim/bundle/CamelCaseMotion
vim/bundle/vim-multiple-cursors
vim/bundle/vim-javascript
vim/bundle/vim-coffee-script
vim/bundle/fugitive.vim

# ignore git configuration directories (so we can have different
# configs on different boxes)
.git/config/

# ignore Emacs related cruft
*~
emacs.d.auto-save-list
dotfiles/emacs.d/obs*
dotfiles/emacs.d/ac-comphist.dat
