# these vim extensions are all cloned git repos
# so we don't want to save them.
dotfiles/vim/bundle

# ignore configuration directory (so we can have diff configs on diff boxes)
config/

# ignore Emacs related cruft
*~
emacs.d.auto-save-list
dotfiles/emacs.d/obs*
dotfiles/emacs.d/ac-comphist.dat
